In [1]:
import pandas as pd
import numpy as np

# Data Cleaning & Manipulation

In [3]:
wine = pd.read_csv('../data/wine_reviews/winemag-data_first150k.csv', index_col=0)
energy = pd.read_csv('../data/energy/PJM_Load_hourly.csv', parse_dates=True, index_col=0)

**Exercise:** Make a new column in the energy dataset, showing the energy in time T-1 for each time T. Hint: there is a built-in method in Pandas that can help with this, no complicated functions needed :)

In [6]:
#solution 1
energy = pd.read_csv('../data/energy/PJM_Load_hourly.csv', parse_dates=True, index_col=0)
energy['t-1'] = energy['PJM_Load_MW'].shift()
energy.head()

                     PJM_Load_MW      t-1
Datetime
1998-12-31 01:00:00      29309.0      NaN
1998-12-31 02:00:00      28236.0  29309.0
1998-12-31 03:00:00      27692.0  28236.0
1998-12-31 04:00:00      27596.0  27692.0
1998-12-31 05:00:00      27888.0  27596.0

In [7]:
#solution 2
energy = pd.read_csv('../data/energy/PJM_Load_hourly.csv', parse_dates=True, index_col=0)
energyNew = energy
energyNew["T-1"] = energyNew["PJM_Load_MW"] * 0
energyNew["T-1"].iloc[1:energy.shape[0]]= energyNew["PJM_Load_MW"].iloc[0:energy.shape[0]-1]
energyNew

                     PJM_Load_MW      T-1
Datetime
1998-12-31 01:00:00      29309.0      0.0
1998-12-31 02:00:00      28236.0  29309.0
1998-12-31 03:00:00      27692.0  28236.0
1998-12-31 04:00:00      27596.0  27692.0
1998-12-31 05:00:00      27888.0  27596.0
...                          ...      ...
2001-01-01 20:00:00      35209.0  35497.0
2001-01-01 21:00:00      34791.0  35209.0
2001-01-01 22:00:00      33669.0  34791.0
2001-01-01 23:00:00      31809.0  33669.0
2001-01-02 00:00:00      29506.0  31809.0

[32896 rows x 2 columns]

**Exercise:** Re-read the CSV for the wine data, and write a function to take care of all the nan values. Bonus points if it includes a test.

In [9]:
wine1 = pd.read_csv('../data/wine_reviews/winemag-data_first150k.csv', index_col=0)

def fix_null_values(wine_df, cols_to_drop, cols_to_fill):
    """
    Function to remove null values in the wine dataframe.
    Args:
        wine_df (DataFrame): DataFrame from which to remove the null values.
        cols_to_drop (list): List of column names to drop rows from
        cols_to_fill (list): List of columns names to fill with "unknown"
    Returns:
        wine_df (DataFrame): DataFrame with null values removed
    """
    for col in cols_to_drop:
        indices_to_drop = wine_df.loc[wine_df[col].isnull()]
        wine_df = wine_df[~wine_df.index.isin(indices_to_drop.index)]
        
        
    wine_df.fillna('unknown', inplace=True)
        
    # checking that all null values have been removed
    if wine_df.isnull().any().any() == False:
        return wine_df
    
    # if there are still null values, returning column name to user
    else:
        all_cols_list = list(wine_df.isnull().any())
        list_cols_with_nulls = [col for i, col in enumerate(all_cols_list.index) if all_cols_list[i] is True]
        print(f"Null values still exist! Columns {list_cols_with_nulls}")
        return
        
to_drop = ["price", "country"]
to_fill = ['description', 'designation', 'points', 'province', 'region_1', 'region_2', 'variety', 'winery']

# calling funciton
fix_null_values(wine1, to_drop, to_fill)

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,unknown,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,unknown,Provence red blend,Domaine de la Bégude
...,...,...,...,...,...,...,...,...,...,...
150925,Italy,Many people feel Fiano represents southern Ita...,unknown,91,20.0,Southern Italy,Fiano di Avellino,unknown,White Blend,Feudi di San Gregorio
150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,unknown,Champagne Blend,H.Germain
150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,unknown,White Blend,Terredora
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,unknown,Champagne Blend,Gosset
150929,Italy,More Pinot Grigios should taste like this. A r...,unknown,90,15.0,Northeastern Italy,Alto Adige,unknown,Pinot Grigio,Alois Lageder